//
//  Example.xcconfig
//  Example
//
//  Created by Yoshimasa Niwa on 2/25/20.
//  Copyright © 2020 Yoshimasa Niwa. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// NOTE: This is a workaround prior to Xcode 10.4.
// TODO: Remove this in near future.
// This `XCODE_VERSION_ACTUAL` is used to know if we can use KeyboardGuide target
// in Swift Package Manager from Objective-C code.
// See `ObjcViewController.h` for the details.
OTHER_CFLAGS = $(inherited) -DXCODE_VERSION_ACTUAL=$(XCODE_VERSION_ACTUAL)
OTHER_SWIFT_FLAGS = $(inherited) -Xcc -DXCODE_VERSION_ACTUAL=$(XCODE_VERSION_ACTUAL)

// Due to Combine and SwiftUI bug, we need to explicitly weak link entire Combine and SwiftUI frameworks.
// See <https://forums.swift.org/t/weak-linking-of-frameworks-with-greater-deployment-targets/26017/8>.
OTHER_LDFLAGS = $(inherited) -weak_framework Combine -weak_framework SwiftUI
